interactions:
- request:
    body: '{"content": "142.250.203.206", "name": "portainer.altosterino.com", "proxied":
      true, "ttl": 1, "type": "A"}'
    headers:
      authorization:
      - DUMMY
      content-type:
      - application/json
    method: PUT
    uri: https://api.cloudflare.com/client/v4/zones/457aba5ea6227a7f4d672e8845a2d5e9/dns_records/17ba2313616ca4ec9be83de9b934790b
  response:
    content: '{"result":{"id":"17ba2313616ca4ec9be83de9b934790b","zone_id":"457aba5ea6227a7f4d672e8845a2d5e9","zone_name":"altosterino.com","name":"portainer.altosterino.com","type":"A","content":"142.250.203.206","proxiable":true,"proxied":true,"ttl":1,"locked":false,"meta":{"auto_added":false,"managed_by_apps":false,"managed_by_argo_tunnel":false,"source":"primary"},"created_on":"2022-01-06T22:08:12.31788Z","modified_on":"2022-02-01T21:25:13.363978Z"},"success":true,"errors":[],"messages":[]}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
