interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.cloudflare.com/client/v4/zones/457aba5ea6227a7f4d672e8845a2d5e9/dns_records?type=A
  response:
    content: '{"result":[{"id":"26984dd06a4af0ac135ae12b4ae4bec1","zone_id":"457aba5ea6227a7f4d672e8845a2d5e9","zone_name":"altosterino.com","name":"altosterino.com","type":"A","content":"217.96.155.175","proxiable":true,"proxied":true,"ttl":1,"locked":false,"meta":{"auto_added":false,"managed_by_apps":false,"managed_by_argo_tunnel":false,"source":"primary"},"created_on":"2020-11-28T21:01:06.559622Z","modified_on":"2022-01-06T21:51:18.798484Z"},{"id":"16979338358f4a70eb95395dd3650503","zone_id":"457aba5ea6227a7f4d672e8845a2d5e9","zone_name":"altosterino.com","name":"bitwarden.altosterino.com","type":"A","content":"217.96.155.175","proxiable":true,"proxied":true,"ttl":1,"locked":false,"meta":{"auto_added":false,"managed_by_apps":false,"managed_by_argo_tunnel":false,"source":"primary"},"created_on":"2022-01-06T21:59:40.261728Z","modified_on":"2022-01-06T22:17:39.560819Z"},{"id":"17ba2313616ca4ec9be83de9b934790b","zone_id":"457aba5ea6227a7f4d672e8845a2d5e9","zone_name":"altosterino.com","name":"portainer.altosterino.com","type":"A","content":"217.96.155.175","proxiable":true,"proxied":true,"ttl":1,"locked":false,"meta":{"auto_added":false,"managed_by_apps":false,"managed_by_argo_tunnel":false,"source":"primary"},"created_on":"2022-01-06T22:08:12.31788Z","modified_on":"2022-01-06T22:08:12.31788Z"},{"id":"760a93b07e59264dccdced8d5f535500","zone_id":"457aba5ea6227a7f4d672e8845a2d5e9","zone_name":"altosterino.com","name":"www.altosterino.com","type":"A","content":"51.38.129.95","proxiable":true,"proxied":true,"ttl":1,"locked":false,"meta":{"auto_added":false,"managed_by_apps":false,"managed_by_argo_tunnel":false,"source":"primary"},"created_on":"2020-07-25T16:02:43.406579Z","modified_on":"2020-07-25T16:02:43.406579Z"}],"success":true,"errors":[],"messages":[],"result_info":{"page":1,"per_page":100,"count":4,"total_count":4,"total_pages":1}}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
